<div class="container">

    <div [hidden]="!addedToCart" class="alert alert-success" role="alert">
        {{highlightText}}
    </div>

    <div class="mt-5">
        <div class="d-flex justify-content-evenly border p-4 rounded">
            <div>
                <div>
                    <img src="{{product?.imgaddress}}">
                </div>
                <div class="mt-4 text-center">
                    <h2>{{product?.price | currency}}</h2>
                    <button (click)="addToCart()" class="btn btn-primary mt-2 w-100"> Add to Cart</button>
                </div>
            </div>

            <div>
                <!--Product details-->
                <div>
                    <div>
                        <h1>{{product?.name}}</h1>
                    </div>
                    <p>{{product?.description}}</p>
                    <p class="m-0">{{product?.status}}</p>
                    <p>Quantity {{product?.quantity}}</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end mt-2">
            <a routerLink="/products">Continue to shopping</a>
        </div>
    </div>

</div>